        <div
          class="d-flex align-items-center justify-content-between px-3 py-3 pb-5 text-light"
        >
          <p>Attività amici</p>
          <p>
            <i class="bi bi-people-fill"></i>
            <a class="text-decoration-none text-light" href="#"
              ><i class="bi bi-x"></i
            ></a>
          </p>
        </div>
        <div class="">
          <div class="d-flex align-items-start mb-5">
            <img
              src="assets/imgs/main/image-19.jpg"
              alt="rand-img"
              height="40px"
              class="rounded-circle mr-1"
            />
            <div class="d-block mx-1">
              <h6 class="text-white mb-1" style="font-size: 0.8rem">
                Charlie Hookham
              </h6>
              <p class="text-white my-0" style="font-size: 0.6rem">
                In Camera<i class="bi bi-dot"></i> Yumi Zouma
              </p>
              <i class="bi bi-0-circle text-white" style="font-size: 0.8rem">
                EP III</i
              >
            </div>
            <p class="text-white" style="font-size: 0.7rem">4 ore</p>
          </div>
          <div class="d-flex align-items-start mb-5">
            <img
              src="assets/imgs/main/image-19.jpg"
              alt="rand-img"
              height="40px"
              class="rounded-circle mr-1"
            />
            <div class="d-block mx-1">
              <h6 class="text-white mb-1" style="font-size: 0.8rem">
                lightdark02
              </h6>
              <p class="text-white my-0" style="font-size: 0.6rem">
                Aimed to Kill<i class="bi bi-dot"></i> Jade LeMac
              </p>
              <i class="bi bi-0-circle text-white" style="font-size: 0.8rem">
                Aimed to Kill</i
              >
            </div>
            <p class="text-white" style="font-size: 0.7rem">8 ore</p>
          </div>
          <div class="d-flex align-items-start mb-5">
            <img
              src="assets/imgs/main/image-19.jpg"
              alt="rand-img"
              height="40px"
              class="rounded-circle mr-1"
            />
            <div class="d-block mx-1">
              <h6 class="text-white mb-1" style="font-size: 0.8rem">
                Valeria Traverso
              </h6>
              <p class="text-white my-0" style="font-size: 0.6rem">
                New Kings<i class="bi bi-dot"></i> Sleeping Wolf
              </p>
              <i
                class="bi bi-music-note-beamed text-white"
                style="font-size: 0.7rem"
              >
                Twint Badass mood</i
              >
            </div>
            <p class="text-white" style="font-size: 0.6rem">3 giorni</p>
          </div>
        </div>